@model TES_MEDICAL.GUI.Models.BenhSearchModel
@using X.PagedList;
@using TES_MEDICAL.GUI.Models;
@{
    ViewData["Title"] = "QUẢN LÝ BỆNH";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";

}

<style>
    .wrapper {
        background-color: white;
        font-family: Arial
    }

    .wrapper-title-1 {
        background-color: lightgray;
        height: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px
    }

        .wrapper-title-1 h6 {
            padding: 10px;
        }

    .header-left {
        left: 0 auto;
    }

    .header-right {
        padding-right: 25px;
        margin-inline-start: auto;
        text-align: right;
    }

    .form-select {
        color: gray;
    }

    .header-btn button {
        background-color: rgb(82, 183, 136);
        color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

        .header-btn a:hover {
            background-color: rgb(118, 200, 147);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: scale(1.1)
        }

    .form-check {
        margin-right: 25px;
    }

    .name-list {
        padding-inline: 15px;
    }
</style>

<div class="wrapper m-3">
    <div class="wrapper-title-1 mb-4">
        <h6>Quản lý thông tin bệnh</h6>
    </div>
    <div class="header row">

        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmSearch", id = "frmSearch", enctype = "multipart/form-data", @class = "d-flex flex-wrap m-2" }))
        {
            @Html.AntiForgeryToken()
            <div class="header-left col-sm-8 row">
                <div class="header-input-1 col-3">
                    @Html.EditorFor(model => model.TenBenhSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control", @placeholder = "Nhập tên bệnh ...." } })
                </div>
                <div class="header-input-2 col-3">
                    @Html.EditorFor(model => model.ThongTinSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control", @placeholder = "Nhập thông tin ..." } })
                </div>
                <div class="header-btn col-3">
                    <button type="button" class="btn" onclick="Timkiem()" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Tìm kiếm</button>
                </div>
            </div>
            <div class="header-right col-sm-4 row">
                <div class="header-btn col-7">
                    <button type="button" class="btn" onclick="Create()" id="btCreateN"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Tạo mới</button>
                </div>
                <div class="header-btn col-5">
                    <button type="button" class="btn" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
                </div>
            </div>



            <div class="form-check ms-auto mb-2 text-right mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Hiện tất cả
                </label>
            </div>
        } 

    </div>
    <div id="nameListContainer" class="mt-2" style="margin-inline: 15px;">
        <partial name="_NameListPartial" model="ViewBag.Names as IPagedList<Benh>" />

    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-fullscreen">
         Modal content
        <div class="modal-content">

            <div class="modal-header">


            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" id="btupdate" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                    <button type="button" id="btPrint" class="btn btn-success btn-sm" onclick="PrintPreview('pannelBenh')"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>

        var $id = "";
        var $modal = $('#myModal');
        var $myModalContent = $("#myModalContent");
        var $modalins = $('#myModalins');
        var $myModalContentins = $("#myModalContentins");
        var $myModalTitle = $("#myModalTitle");
        var $myModalTitleins = $("#myModalTitleins");
        function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
        }
        $(document).ready(

            function () {

                $("#btSave").click(function () {

                    if ($("#frm").valid()) {
                        var obj = $("#frm").serializeObject();
                        obj.CTTrieuChung = $("#partialCTTrieuChung tr").getData('.inputCTTrieuChung');



                        $.ajax({
                            type: "POST",
                            url: "/Benh/Add",
                            data:
                            {
                                __RequestVerificationToken: gettoken(),
                                model: obj
                            },
                            success: function (result) {
                                $('#preloader-wrapper').toggleClass('hide');
                                if (result.status >= 1) {

                                    toastr.success(result.text);
                                    reloadpage(1);
                                }
                                else {
                                    toastr.warning(result.text);
                                }
                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            },
                            failure: function (message) {
                                $('#preloader-wrapper').toggleClass('hide');
                            }
                        });
                    }

                });
                $("#btupdate").click(function () {

                    if ($("#frm").valid()) {
                        var obj = $("#frm").serializeObject();
                        obj.CTTrieuChung = $("#partialCTTrieuChung tr").getData('.inputCTTrieuChung');
                        $.ajax({
                            type: "POST",
                            url: "/Benh/Edit",
                            dataType: "json",
                            data: {
                                __RequestVerificationToken: gettoken(),
                                model: obj
                            },
                            success: function (result) {
                                $('#preloader-wrapper').toggleClass('hide');
                                if (result.status >= 1) {
                                    toastr.success(result.text);
                                    reloadpage(1);
                                }
                                else {
                                    toastr.warning(result.text);
                                }
                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            },
                            failure: function (message) {
                                $('#preloader-wrapper').toggleClass('hide');
                            }
                        });
                    }

                });
                $("#btclose").click(function () {

                    reloadpage(1);
                });
                $("#btcloseins").click(function () {

                    reloadpage(1);
                });



            });

        $(document).on('click', '.remove', function () {

            $(this).parent().parent().remove();

        });

        function AddView(child) {

            $.ajax({
                url: '/Benh/add' + child,

                success: function (data) {
                    $("#partial" + child).append(data);
                }
            })
        }

        function reloadpage(page) {
            obj = {};

            obj.Page = page;
            $.ajax({
                url: '/Benh/PageList/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }


        function PrintPreview(id) {
            $.print("#" + id);
        }

        function Edit(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/Benh/Edit/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').hide();
                    $('#btupdate').show();
                    $('#btPrint').hide();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }


        function Create() {

            $myModalContent.html("");

            $.ajax({
                url: '/Benh/Add/',

                type: "Get",
                timeout: 20000,

                async: true,


                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').show();
                    $('#btupdate').hide();
                    $('#btPrint').hide();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function _Detail(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/Benh/Detail/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').hide();
                    $('#btupdate').hide();
                    $('#btPrint').show();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }



        function _delete(id) {
            var cf = confirm('Bạn muốn xoá bản ghi này?');
            if (cf) {
                $.ajax({
                    type: "POST",
                    url: "/Benh/Delete",
                    data: { "id": id },
                    success: function (result) {
                        $('#preloader-wrapper').toggleClass('hide');
                        if (result.status >= 1) {
                            toastr.success(result.text);

                            reloadpage();
                        }
                        else {
                            toastr.warning(result.text);
                        }
                    },
                    error: function (errormessage) {
                        toastr.warning(errormessage.responseText);
                    },
                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });
            }

        }

        function Timkiem() {


            $.ajax({
                url: '/Benh/PageList/',

                type: "Get",
                timeout: 20000,
                async: false,
                data: $("#frmSearch").serialize(),


                success: function (result) {


                    if (result.status == -2) {
                        toastr.success(result.text);

                    }
                    else {

                        $('#nameListContainer').html(result);
                    }


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },


                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function Clear() {


            reloadpage(1);
        }


    </script>
}




