@model TES_MEDICAL.GUI.Models.ThuocSearchModel
@using X.PagedList;
@using TES_MEDICAL.GUI.Models;

@{
    ViewData["Title"] = "DanhSachThuoc";
    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}

<div class="m-3">

    <div>

        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmSearch", id = "frmSearch", enctype = "multipart/form-data", @class = "d-flex flex-wrap m-2" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-2 mr-2">
                @Html.EditorFor(model => model.TenThuocSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control-sm", @placeholder = "Lọc theo tên thuốc" } })
            </div>

            <div class="col-2 mr-2">
                @Html.EditorFor(model => model.DonGiaSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control-sm", @placeholder = "Lọc theo đơn giá" } })
            </div>

            <div class="col-2 mr-2">
                @Html.EditorFor(model => model.ThongTinSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control-sm", @placeholder = "Lọc theo thông tin" } })
            </div>


            <div class="col-4">

                <button type="button" class="btn btn-sm mr-2 " style="background-color:seagreen; color:white;" onclick="Timkiem()" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Lọc</button>
                <button type="button" class="btn mr-2 btn-sm" style="background-color:seagreen; color:white;" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
            </div>



        }

    </div>
</div>

<div id="nameListContainer">
    <partial name="_NameListThuoc" model="ViewBag.Names as IPagedList<Thuoc>" />

</div>

<!--Model chính-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">


            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
@section Scripts{
    <script>

        function OpenChiTietThuoc() {
            $.ajax({
                url: "/DuocSi/ChiTietThuoc/",
                type: 'GET',
                success: function (response) {
                    $("#myModalContent").html(response);
                    $('#myModal').modal('show');
                    $('#btSave').show();
                    $('#btupdate').hide();

                }
            });
        }


        var $id = "";
        var $modal = $('#myModal');
        var $myModalContent = $("#myModalContent");
        var $modalins = $('#myModalins');
        var $myModalContentins = $("#myModalContentins");
        var $myModalTitle = $("#myModalTitle");
        var $myModalTitleins = $("#myModalTitleins");

        function reloadpage(page) {
            obj = {};

            obj.Page = page;
            $.ajax({
                url: '/DuocSi/PageList/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function Timkiem() {


            $.ajax({
                url: '/DuocSi/PageList/',

                type: "Get",
                timeout: 20000,
                async: false,
                data: $("#frmSearch").serialize(),


                success: function (result) {


                    if (result.status == -2) {
                        toastr.success(result.text);

                    }
                    else {

                        $('#nameListContainer').html(result);
                    }


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },


                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function Clear() {


            reloadpage(1);
        }

        function _Detail(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/DuocSi/ChiTietThuoc/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').hide();
                    $('#btupdate').hide();
                    $('#btPrint').show();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
    </script>

}



