
﻿@{
    ViewData["Title"] = "Toa Thuốc chưa thanh toán";

    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}





<style>
    .a {
        text-decoration: none !important
    }
</style>

<div class="block">
    <div class="block-title">
        <h2><strong>Toa thuốc chưa thanh toán</strong></h2>
    </div>
    <div class="m-3">

        <div class="row">



            <div class="col-10 text-start">
                <input class="mr-2 mb-2 form-control w-50" id="TimKiem" placeholder="Nhập từ khóa cần tìm" />

            </div>


            <div class="button-reload col-2 text-end">
                <button type="button" class="btn" style="color:white;" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
            </div>
        </div>
    </div>
    <div class="form-check mt-2 mb-3" style="float: right; margin-right: 20px;">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Hiện tất cả
        </label>
    </div>
    <div id="nameListContainer">
        <partial name="_ListToaThuoc" model="@ViewBag.Names as IPagedList<ToaThuoc>" />

    </div>


</div>


     
    <div class="modal fade" id="ModalChiTietThuoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
             
                <div class="modal-body">
                    <div id="myModalContent">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">

                        <button type="button" id="btupdate" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                        <button type="button" id="btThanhToan" class="btn btn-success btn-sm"><i class="far fa-credit-card" aria-hidden="true"></i>&nbsp;Thanh toán</button>
                        <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts{



    <script>

        var obj = {};
        $(document).ready(

            function () {

                ReloadPage(1);

            });

        //Hàm in
        function PrintPreview(MaPhieu) {
            $.print("#" + MaPhieu);
        }

        //Hàm mở modal của Chi tiết Toa Thuốc


        ////Hàm mở modal của Chi tiết toa thuốc
        function Detail(_maPhieu) {
            $.ajax({
                url: "/DuocSi/ChiTietToaThuoc/",
                type: 'GET',
                data: {
                    MaPhieu: _maPhieu
                },
                success: function (response) {
                    $('#ModalChiTietThuoc').modal('show');
                    $("#myModalContent").html(response);
                  /*   $('#myModal').modal('show');*/
                    $('#btSave').show();
                    $('#btupdate').hide();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }




        function ReloadPage(page) {
            obj = {};

            obj.Page = page;
            obj.TrangThai = 0;
            $("#TimKiem").val("");
            $.ajax({
                url: '/DuocSi/ReloadPage/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
        $("#TimKiem").keyup(function () {

            obj = {};

            obj.KeyWordSearch = $(this).val()
            obj.TrangThai = 0;

            obj.page = 1;
            $.ajax({
                url: '/DuocSi/ReloadPage/',

                type: "Get",


                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });




        });


        function Clear() {


            ReloadPage(1);
        }

        function ChangeDoUuTien(_maPK) {
            $.ajax({
                url: "/DuocSi/ChangeSoUuTien/",
                type: 'POST',
                data: {
                    maPK: _maPK
                },
                success: function (response) {
                    if (response.status >= 1) {

                        toastr.success(response.text);
                        ReloadPage(1);
                    }
                    else {
                        toastr.warning(response.text);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        $("#btThanhToan").click(function () {
            $(this).prop("disabled", true);

            $(this).html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span> Waiting</span>'
            );
            $.ajax({
                type: "POST",
                url: "/DuocSi/ThanhToan/",
                data: {
                    maPK: $("#maPK").val()
                },
                success: function (result) {

                    $('#preloader-wrapper').toggleClass('hide');
                    if (result.status >= 1) {

                        toastr.success(result.text);
                        window.location.href = result.redirectUrL;
                    }
                    else {
                        toastr.warning(result.text);


                    }
                    $("#btThanhToan").prop("disabled", false);

                    $("#btThanhToan").html(
                        'Retry');
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                    $(this).prop("disabled", false);

                    $(this).html(
                        'Retry');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        });

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/signalServer")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection.
        start();


        connection.on("SendToaThuoc", (name) => {

           

                toastr.success("Có một toa thuốc mới");
                obj = {};

                obj.page = $('#CurrentPage').val();
            obj.KeyWordSearch = $('#TimKiem').val()
            obj.TrangThai = 0;

                $.ajax({
                    url: '/DuocSi/ReloadPage/',

                    type: "Get",


                    data: obj,

                    success: function (result) {


                        $('#nameListContainer').html(result);
                    },

                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });






            


        });


    </script>
}


