
@{
    ViewData["Title"] = "ToaThuocDangPhat";
    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}

<div class="col-12">
    <div class="block">
        <div class="block-title">
            <h2><strong>Toa thuốc đang phát</strong></h2>
        </div>
        <div style="float:left;">
            <input placeholder="Tìm kiếm theo tên">
            <input style="margin-left:5px" placeholder="Tìm theo mã toa thuốc">
            <button style="margin-left:5px; background-color:seagreen; color:white" type="button" class="btn btn-sm mr-2" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Lọc</button>
        </div>

        <div class="form-group" style="float:right">
            <button class="btn" style="background-color:seagreen; color:white;"><i class="fa fa-sync text-white"></i>  Làm mới</button><br />
            <input type="checkbox" style="margin-top:25px" /> Hiển thị tất cả

        </div>

        <div class="form-group">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Mã toa thuốc</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col" class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Cao Tân Lộc</th>
                        <td>PK001</td>
                        <td>Đang chờ</td>
                        <td class="text-nowrap text-center">
                            <a class="btn btn-info btn-sm active" title="Thông tin"> <i class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" onclick="OpenToaThuocDangPhat()" title="Thông tin"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Thông tin"> <i class="fas fa-arrow-down" aria-hidden="true"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <th>Bùi Ngọc Huyền</th>
                        <td>PK002</td>
                        <td>Đang chờ</td>
                        <td class="text-nowrap text-center">
                            <a class="btn btn-info btn-sm active" title="Thông tin"> <i class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" onclick="OpenToaThuocDangPhat()" title="Thông tin"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Bỏ qua"> <i class="fas fa-arrow-down" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>

<!--Model chính-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle"></strong></div>
            </div>
            <div class="modal-body">

                <div id="myModalContent" class="modal-fullscreen">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-sm" id="btclose" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    //Hàm mở modal của Chi tiết Toa Thuốc Đang phát
    function OpenToaThuocDangPhat() {
        $.ajax({
            url: "/DuocSi/ChiTietDangPhat/",
            type: 'GET',
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
                $('#btSave').show();
                $('#btupdate').hide();

            }
        });
    }
</script>

