<h4 style="text-align:center; font-weight:bold">THÔNG TIN THUỐC</h4>
<hr />
<br />
<style>
    .table2 {
        width: 500px;
    }

        .table2 td {
            width: 300px;
        }

        .table2 th {
            width: 100px;
        }
</style>
<div class="row">
    <div class="col-sm-8">
        <table class="table table2 table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Tên thuốc</th>
                    <td>Thuốc A</td>
                </tr>
                <tr>
                    <th scope="row">Thành phần</th>
                    <td>
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e
                        Chất a, chất b, chất c, chất d, chất e

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2" style="margin-left: 5px">
        <div>
            <img src="https://i-cf65ch.gskstatic.com/content/dam/cf-consumer-healthcare/panadol/vi_vn/vietnamproduct/panadol_extra/product_detail/Panadol%20Extra_Packshot_221118_L_(445x429px).png?auto=format" alt="" style="width: 100%; ">
        </div>
    </div>
</div>
