<h4 style="text-align:center; font-weight:bold">XÁC NHẬN THÔNG TIN</h4>
<hr />
<br />

<div class="col-10">
    <table class="table table-borderless">
        <tr>
            <td><h6><strong>Tên bệnh nhân:</strong> Nguyễn Thanh Hoàng</h6></td>
            <td><h6><strong>Ngày khám:</strong> 1/1/2021</h6></td>
            <td><h6><strong>Ngày tái khám:</strong> 1/1/2021</h6></td>
        </tr>
        <tr>
            <td><h6><strong>Mạch:</strong> 15</h6></td>
            <td><h6><strong>Huyết Áp:</strong> 50</h6></td>
            <td><h6><strong>Nhiệt độ:</strong> 50</h6></td>
        </tr>
        <tr>
            <td><h6><strong>Chẩn đoán:</strong> Cảm cúm</h6></td>
            <td>
                <h6>
                    <strong>Kết quả khám bệnh:</strong><br />
                    Ho, cảm sốt, ỉa chảy, đái ra máu tê mỏi tay chân
                </h6>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="col-12" style="font-size: 17px">
    <table class="table table-borderless">
        <thead style="background-color: rgb(234,237,241)">
            <tr>
                <th>Tên thuốc</th>
                <th>Số lượng</th>
                <th>Ghi chú</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td>Thuốc A</td>
                <td>20</td>
                <td>Uống sau khi ăn</td>
                <td>5.000</td>
                <td>100.000</td>
            </tr>
            
        </tbody>
    </table>
</div>
