
@inject UserManager<NhanVienYte> UserManager;
@using X.PagedList;


@{
    ViewData["Title"] = "Lịch sử khám";
    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}

<div class="block m-3">
    <div class="block-title">
        <h2><strong>Phiếu khám bệnh</strong></h2>
    </div>
    <div class="row">



        <div class="col-8 mr-2">
            <input class="mr-2 mb-2 form-control w-50" id="TimKiem" placeholder="Nhập từ khóa cần tìm" />

        </div>


        <div class="button-reload col-2 ms-auto">


            <button type="button" class="btn" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
        </div>



    </div>
    <div id="nameListContainer" class="mt-3">
        <partial name="_listSTTPhieuKham" model="ViewBag.Names as IPagedList<PhieuKham>" />

    </div>
</div>



@section scripts{
    

    <script>
        var table;
        var obj = {};
        var Clienid;
        $(document).ready(

            function () {

                reloadpage(1);
                Clienid = '@Html.Raw((await UserManager.GetUserAsync(User)).Id)';

            });

      
       


        function reloadpage(page) {
            obj = {};

            obj.Page = page;
            $("#TimKiem").val("");
            $.ajax({
                url: '/BacSi/ReloadPageSTT/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
        $("#TimKiem").keyup(function () {
           
                obj = {};

                obj.KeyWordSearch = $(this).val()

                obj.page = 1;
                $.ajax({
                    url: '/BacSi/ReloadPageSTT/',

                    type: "Get",


                    data: obj,

                    success: function (result) {
                        
                        $('#nameListContainer').html(result);
                    },

                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });
            



        });


        function Clear() {


            reloadpage(1);
        }


        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/PhieuKham")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection.
        start();


        connection.on("SentDocTor", (id) => {

            if (Clienid == id) {

                toastr.success("Có một bệnh nhân mới");
                obj = {};

                obj.page = $('#CurrentPage').val();
                obj.KeyWordSearch = $('#TimKiem').val()


                $.ajax({
                    url: '/BacSi/ReloadPageSTT/',

                    type: "Get",


                    data: obj,

                    success: function (result) {


                        $('#nameListContainer').html(result);
                    },

                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });






            }


        });




    </script>
}

