@model TES_MEDICAL.GUI.Models.DichVu

<style>
   #table_dichvu td{
       font-size: 18px;
       font-family:'Segoe UI';
   }
</style>

<h4 style="text-align:center; font-weight:bold">CHỌN DỊCH VỤ</h4>
<br />
        <table class="table m-auto col-8 px-5" id="table_dichvu">
            <tbody>
                <tr>
                    <td>Khám tổng quát</td>
                    <td><input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" ></td>
                </tr>
                <tr>
                    <td>Tim Mạch</td>
                    <td><input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" ></td>
                </tr>
                <tr>
                    <td>Khám tổng quát</td>
                    <td><input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" ></td>
                </tr>
            </tbody>
        </table>

