
<style>
    #table1 td {
        width: 100px !important;
        
    }
</style>

<h4 style="text-align:center; font-weight:bold">XÁC NHẬN THÔNG TIN</h4>

<hr />
<br />

<div class="row">
    <table class="table table-borderless" id="table1">
        <tbody>
            <tr style="width: 50px;">
                <td style="font-weight:bold;">Tên bệnh nhân</td>
                <td>Nguyễn Văn A</td>
                <td style="font-weight:bold;">Số điện thoại</td>
                <td>0939503204</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Ngày sinh</td>
                <td>1/1/2001</td>
                <td style="font-weight:bold;">Địa chỉ</td>
                <td>Quận 12</td>
            </tr>

            <tr>
                <td style="font-weight:bold;">Triệu chứng</td>
                <td>Ho, chảy mũi, khó thở, nóng lạnh sốt khó thở</td>
                <td style="font-weight:bold;">Chuyên khoa</td>
                <td>Khoa phổi</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div class="row">
    <table class="table table-borderless" id="table1">
        <tbody>
            <tr style="width: 50px;">
                <td style="font-weight:bold;">Khám tổng quát</td>
                <td>150.000 VNĐ</td>
                <td style="font-weight:bold;">Chụp X-Quang</td>
                <td>200.000 VNĐ</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Xét nghiệm máu</td>
                <td>350.000 VNĐ</td>
                <td style="font-weight:bold;">Xét nghiệm COVID</td>
                <td>350.000 VNĐ</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="TongTien" style="text-align:right">
    <h4 style="color:seagreen; font-weight:bold">Tổng tiền : 1.050.000 VNĐ</h4>
</div>
