
@inject UserManager<NhanVienYte> UserManager;
@using X.PagedList;


@{
    ViewData["Title"] = "Cập nhật dịch vụ";
    Layout = "~/Views/Shared/LayoutMain/MainLayout.cshtml";
}

<div class="m-3">

    <div class="row">



        <div class="col-8 mr-2">
            <input class="mr-2 mb-2 form-control" id="TimKiem" placeholder="Nhập từ khóa cần tìm" />

        </div>


        <div class="button-reload col-2 ms-auto">


            <button type="button" class="btn" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
        </div>



    </div>
</div>

<div id="nameListContainer">
    <partial name="_ListPhieuKham" model="ViewBag.Names as IPagedList<PhieuKham>" />

</div>

@section scripts{


    <script>
        var table;
        var obj = {};
        var Clienid;
        $(document).ready(

            function () {

                reloadpage(1);
                Clienid = '@Html.Raw((await UserManager.GetUserAsync(User)).Id)';

            });





        function reloadpage(page) {
            obj = {};

            obj.Page = page;
            $("#TimKiem").val("");
            $.ajax({
                url: '/TiepNhan/ReLoadCapNhat/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }
        $("#TimKiem").keyup(function () {

                obj = {};

                obj.KeyWordSearch = $(this).val()

                obj.page = 1;
                $.ajax({
                    url: '/TiepNhan/ReLoadCapNhat/',

                    type: "Get",


                    data: obj,

                    success: function (result) {

                        $('#nameListContainer').html(result);
                    },

                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });




        });


        function Clear() {


            reloadpage(1);
        }





    </script>
}

