@model TES_MEDICAL.GUI.Models.ChuyenKhoa

<div class="container-fluid" id="pannelChuyenKhoa">
    <h1>Thông tin</h1>
    <hr />
    @Html.HiddenFor(model => model.MaCK)

    <div class="row m-2">

        <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TenCK
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TenCK)
            </div>
        </div>


    </div>



</div>






