
@{
    ViewData["Title"] = "ReportBenhNhan";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet"
      href="../contrast-bootstrap-pro/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="../contrast-bootstrap-pro/css/cdb.css" />
<script src="../contrast-bootstrap-pro/js/cdb.js"></script>
<script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/9d1d9a82d2.js"
        crossorigin="anonymous"></script>

<title>How to create bootstrap charts using bootstrap 5</title>
<style>
    .box {
        display: flex;
        flex-wrap: wrap;
    }

    .box-item {
        width: calc(50% - 10px);
        background-color: white;
        font-family: Arial;
        height: 270px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .box-item-title {
        background-color: rgb(233, 236, 239);
        height: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px
    }

        .box-item-title h6 {
            padding: 10px;
            font-weight: 600;
            color: rgb(108, 117, 125);
        }

    .box-option {
        margin-left: 23px;
    }
    .box-option .form-check{
        margin-left: 15px;
    }
    .input-group{
        display: flex;
        flex-wrap: nowrap;
        margin-left: -7px;
    }
    .input-group .input-group-item{
        width: calc(50% - 30px);
        margin-left: 30px;       
    }
</style>

<body>
    <div class="box">
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Biểu đồ tròn</h6>
                <img class="text-center" src="https://d2mvzyuse3lwjc.cloudfront.net/doc/en/UserGuide/images/2D_B_and_W_Pie_Chart/2D_B_W_Pie_Chart_1.png?v=83139" width="250px;" style="margin-left: 30%; margin-top: 10px;" />
            </div>
        </div>
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Biểu đồ cột</h6>
            </div>
        </div>
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Lựa chọn</h6>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-item">
                    <p>Ngày bắt đầu:</p>
                    <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group-item ms-3">
                    <p>Ngày kết thúc:</p>
                    <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="box-option">
                <p>Chọn mục thống kê:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Bệnh
                    </label>
                </div>                
            </div>
        </div>
        <div class="box-item">
            <div class="box-item-title mb-4">
                <h6>Thông tin</h6>
            </div>
        </div>
    </div>
</body>

