
@model TES_MEDICAL.GUI.Models.TinTuc
@{
    ViewData["Title"] = "ThemBaiViet";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}



<div class="p-5">
    <div class="block">
        <h4 style="text-align:center; font-weight:bold">THÊM BÀI VIẾT MỚI</h4>
        <br />
        <form class="row g-3" asp-action="ThemTinTuc" asp-controller="TinTuc" method="post">
            <div class="col-md-12">
                <label class="form-label">Tiêu đề</label>
                <input type="text" asp-for="TieuDe" class="form-control">
            </div>
            <div class="form-group col-md-3">
                
                @Html.LabelFor(model => model.MaTL, "Thể loại", htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-12">
                    <select asp-for="MaTL" asp-items="@ViewBag.MaTL" class="form-control">
                        <option value="">Chọn thể loại</option>
                    </select>
                    @*@Html.DropDownList("MaTL", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.MaTL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label">Trạng thái</label>
                <div class="form-check">
                    <input asp-for="TrangThai" class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Đang hoạt động
                    </label>
                </div>
            </div>
            <div class="col-md-6 row mt-3">
                <div class="col-sm-4">
                    <label class="btn btn-success ">
                        <i class="fa fa-image"></i>  Chọn hình<input style="display:none;" class="form-control" type="file" id="upload-back" accept="image/*" />
                    </label>
                </div>
                <div id="image-holder2" class="col-sm-8 pt-2">
                    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/a1a5d7dc-aedf-4570-b58d-693af16e1445/f203629f-76ad-4418-9fc3-166ce5662a90/VN-en-20211020-popsignuptwoweeks-perspective_alpha_website_medium.jpg" style='width: 50%'>
                </div>
            </div>

            <div class="col-12">
                <label class="form-label">Nội dung bài viết</label>
                <textarea asp-for="NoiDung" rows="20" class="form-control" placeholder="Nhập nội dung ..."></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Xác nhận</button>
                <button type="submit" class="btn btn-success"><i class="fas fa-close"></i> Đóng</button>
            </div>
        </form>
    </div>

</div>

@section scripts{
    <link href="~/summernote/summernote-lite.css" rel="stylesheet" />
    <script src="~/summernote/summernote-lite.js"></script>
    @*<script src="~/ckeditor/ckeditor.js"></script>
        <script src="~/ckeditor/adapters/jquery.js"></script>

        <script>
            $("#NoiDung").ckeditor();
        </script>*@

    <script>
        $(document).ready(
            function () {
                $('#NoiDung').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true,
                    callbacks: {
                        onImageUpload: function (files) {
                            for (let i = 0; i < files.length; i++) {
                                UploadImage(files[i]);
                            }
                        }
                    }
                });

                function UploadImage(file) {
                var url = '@Url.Action("UploadFile", "TinTuc")';

                formData = new FormData();
                formData.append("aUploadedFile", file);
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (FileUrl) {
                       // alert(FileUrl);
                        var imgNode = document.createElement('img');
                        imgNode.src = FileUrl;
                        $('#NoiDung').summernote('insertNode', imgNode);
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }

                $('.sidebar-mini').addClass("sidebar-collapse");
            });


    </script>
}
