
<div>
    <!--Tiêu đề-->
    <div>
        <figure class="text-end">
            <blockquote class="blockquote">
                <p>Chiều 16/10: Đã có hơn 61 triệu liều vaccine COVID-19 được tiêm chủng trên cả nước</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Ngày đăng <cite title="Source Title">16/09/2021</cite>
            </figcaption>
        </figure>
    </div>
    <div>
        <p>
            Thống kê trên cổng tiêm chủng Quốc gia cho biết đến 14h ngày 16/10, cả nước đã tiêm được 61,086,173 liều vaccine phòng COVID-19. Như vậy có thể thấy tốc độ tiêm chủng vaccine tiếp tục được đẩy mạnh.<br /><br />

            Cụ thể, cập nhật đến trưa ngày 15/10, cả nước tiêm khoảng trên 59,8 triệu liều. Tuy nhiên tổng kết cả ngày đã tiêm 1,283,125 liều nên đã nâng tổng số liều vaccine đã tiêm ở nước ta đến nay lên 61,086,173 liều.<br />

            Liên quan đến công tác tiêm chủng, lãnh đạo Bộ Y tế đã tiếp tục có văn  bản gửi Bí thư Tỉnh ủy, Thành ủy, Trưởng Ban Chỉ đạo phòng chống dịch COVID-19;  Chủ tịch Ủy ban nhân dân các tỉnh, thành phố trực thuộc Trung ương về việc tăng cường tiêm chủng vaccine COVID-19.<br /><br />

            Từ nay đến hết tháng 10/2021, vaccine tiếp tục được cung ứng, do đó để đảm bảo sử dụng vaccine nhanh chóng, hiệu quả, tăng nhanh diện bao phủ để từng bước chuyển sang trạng thái bình thường mới, cần đảm bảo tiến độ tiêm chủng mỗi ngày đạt ít nhất 2 triệu liều.<br /><br />
            <img class="m-auto" src="https://suckhoedoisong.qltns.mediacdn.vn/324455921873985536/2021/10/7/tiem-vaccine-covid-1633565860832989715122.jpg" style="width:70%;"/>
        </p>
    </div>
</div>
