

@model TES_MEDICAL.GUI.Models.TheLoai

<div class="container-fluid" id="pannelTheLoai">
    <h1>Thông tin</h1>
    <hr />


    <div class="row m-2">
                    
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TenTL
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TenTL)
            </div>
        </div>
          
                
    </div>

    
  
    </div>






