@model List<TinTuc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/GuestLayout.cshtml";
}

<style>
    h3.ltn__blog-title {
        white-space: wrap;
        width: 350px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="ltn__about-us-area pt-25 pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="~/GuestElement/img/others/9.png" alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Giới thiệu sản phẩm</h1>
                        <p>
                            Houzez allow you to design unlimited panels and real estate custom
                            forms to capture leads and keep record of all information
                        </p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before--- clearfix">
                        <li><i class="fas fa-check-square"></i> Better security for patient privacy and information.</li>
                        <li><i class="fas fa-check-square"></i> More products at lower prices.</li>
                        <li><i class="fas fa-check-square"></i> connect customers with the power of eCommerce at all.</li>
                    </ul>
                    <div class="about-author-info-2 border-top mt-30 pt-20">
                        <ul>
                            <li>
                                <div class="about-author-info-2-brief  d-flex">
                                    <div class="author-img">
                                        <img src="~/GuestElement/img/blog/author.jpg" alt="#">
                                    </div>
                                    <div class="author-name-designation">
                                        <h4 class="mb-0">Jerry Henson</h4>
                                        <small>Medical Specialist</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="about-author-info-2-contact  d-flex">
                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="about-author-info-2-contact-info">
                                        <small>Get Support</small>
                                        <h6 class="mb-0">123-456-789-10</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->
<!-- COUNTDOWN AREA START -->
<!--<div class="container">
<div class="row">
    <div class="col-lg-7">
        <div class="call-to-action-inner text-color-white--- text-center---">
            <br>
            <div class="section-title-area ltn__section-title-2--- text-center---">
                <h6 class="ltn__secondary-color">Todays Hot Offer</h6>
                <h1 class="section-title">Free Covid-19 Vaccine<br>Campaign Ticket</h1>
                <p>
                    Cur tantas regiones barbarorum obiit, tot maria transmist <br>
                    summo bono fruitur id est voluptate barbarorum
                </p>
            </div>
            <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2021/12/28"></div>
            <div class="btn-wrapper animated">
                <a href="contact.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Book Now</a>
                <a href="shop.html" class="ltn__secondary-color text-decoration-underline">Deal of The Day</a>
            </div>
        </div>
    </div>
    <div class="col-lg-5">-->
<!-- <img src="~/GuestElement/img/banner/15.png" alt="#"> -->
<!--</div>
        </div>
    </div>
</div>-->
<!-- COUNTDOWN AREA END -->
<!-- TIN TỨC 1 START-->
<div class="ltn__blog-area pt-115 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">News & Blogs</h6>
                    <h1 class="section-title">TIN MỚI NHẤT</h1>
                </div>
            </div>
        </div>
        <partial name="_ListTheLoai" model="ViewBag.TL1" />
        </div>
    </div>
    <!-- TIN TỨC 1 END -->
    <!-- TIN TỨC 2 - START -->
<div class="ltn__blog-area pt-115 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">News & Blogs</h6>
                    <h1 class="section-title">TIN TỨC VỀ COVID</h1>
                </div>
            </div>
        </div>
        <partial name="_ListTheLoai" model="ViewBag.TL2" />
    </div>
</div>
    <!-- TIN TỨC 2 - END -->
    <!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1--- pt-110--- pb-95 plr--9--- d-none---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">News & Blogs</h6>
                    <h1 class="section-title">CẨM NANG SỨC KHOẺ</h1>
                </div>
            </div>
        </div>
        <partial name="_ListTheLoai" model="ViewBag.TL3" />
    </div>
</div>
    <!-- BRAND LOGO AREA END -->
    <!-- PRODUCT AREA START (product-item-3) -->
    <div class="ltn__product-area ltn__product-gutter pt-85 pb-70 d-none">
        <partial name="_ListTheLoai" model="ViewBag.TL4" />
    </div>
    <!-- PRODUCT AREA END -->
    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom d-none" data-bs-bg="~/GuestElement/img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="shop.html">Explore Products <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->
    <!-- FOOTER AREA START -->
    @section scripts{


    }
