@model List<TES_MEDICAL.GUI.Models.PhieuKham>
@{
    ViewData["Title"] = "LỊCH SỬ KHÁM";
    Layout = "~/Views/Shared/GuestLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 m-auto">
        <div class="ltn__form-box contact-form-box box-shadow white-bg">
            <h4 class="title-2">Lịch sử khám bệnh của bạn</h4>
            <div id="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-item input-item-email">
                            <input style="color:darkslategrey" id="SDT" type="text" placeholder="Mời bạn nhập số điện thoại">
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper mt-0">
                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" onclick="OpenLichSuKham()">Xem lịch sử</button>
                </div>
            </div>
        </div>
        <br />

        <!-- Utilize Cart Menu Start -->
        <div id="ltn__utilize-cart-menu" class="ltn__utilize-cart-menu pt-10">
            <div class="ltn__utilize-menu-inner ltn__scrollbar">
                <div class="ltn__utilize-menu-head">
                    <span class="ltn__utilize-menu-title">Lịch sử khám</span>
                </div>

                <!--Tiêu Đề-->
                <div class="mini-cart-product-area">
                    <div class="mini-cart-item clearfix">
                        <div class="mini-cart-info row">
                            <div class="col-sm-3">
                                <h6 style="font-weight:bold"><a href="#">Họ và tên</a></h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 style="font-weight:bold"><a href="#">Số điện thoại</a></h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 style="font-weight:bold"><a href="#">Ngày khám</a></h6>
                            </div>
                            <div class="col-sm-3">
                                <h6 style="font-weight:bold"><a href="#"></a></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dữ liệu-->
                <div class="mini-cart-product-area">
                    <div class="mini-cart-item clearfix">
                        <div id="ShowLichSu" class="mini-cart-info row">
                            @*@foreach (var item in Model)
                                {
                                    <div class="col-sm-4">
                                        <h6><a href="#">@item.MaBNNavigation.HoTen</a></h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6><a href="#">@item.MaBNNavigation.SDT</a></h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <h6><a href="#">@item.NgayKham</a></h6>
                                    </div>
                                }*@

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Utilize Cart Menu End -->
    </div>
</div>

<!-- Modal Tổng -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle"></strong></div>
            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function OpenLichSuKham() {
        $.ajax({
            url: "/Home/SearchByPhoneNumber",
            type: 'GET',
            data: {
                SDT: $('#SDT').val()
            },
            success: function (response) {
                //$("#myModalContent").html(response);
                //$('#myModal').show();
                //$('#btSave').show();
                //$('#btupdate').hide();r
                $("#ShowLichSu").html("");
                if (response.status == -2) {
                    $("#ShowLichSu").append(`
                            <div class="col-sm-12 text-center text-danger">
                                <h6 style="font-weight:bold"><a href="#">Không tìm thấy</a></h6>
                            </div>
                    `)
                }
                else {
                    JSON.parse(response).forEach(function (item) {
                        console.log(item);
                        var stringDate = new Date(item.NgayKham);
                        var dd = stringDate.getDate();
                        var MM = stringDate.getMonth();
                        var yyyy = stringDate.getFullYear();
                        var hh = stringDate.getHours();
                        var mm = stringDate.getMinutes();
                        var ss = stringDate.getSeconds();
                        var ngayKham = dd + "/" + MM + "/" + yyyy + ", " + hh + ":" + mm + ":" + ss;
                        $("#ShowLichSu").append(`
                    <div class="col-sm-3">
                                    <h6><a href="#">${item.MaBNNavigation.HoTen}</a></h6>
                                </div>
                                <div class="col-sm-3">
                                    <h6><a href="#">${item.MaBNNavigation.SDT}</a></h6>
                                </div>
                                <div class="col-sm-3">
                                    <h6><a href="#">${ngayKham}</a></h6>
                                </div>
                                <div class="col-sm-3">
                                    <h6><a href="#" style="color:blue" onclick="OpenChiTietKham('${item.MaPK}')" >Chi tiết</a></h6>
                                </div>
                    `)
                    });
                }
                
                console.log(response);

            }
        });
    }

    function OpenChiTietKham(_MaPK) {
        $.ajax({
            url: "/Home/ChiTietLichSuKham/",
            type: 'GET',
            data: {
                MaPK:  _MaPK
            },
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
                $('#btSave').show();
                $('#btupdate').hide();

            }
        });
    }
</script>





