<h4 style="text-align:center; font-weight:bold">CHỈNH SỬA NGƯỜI DÙNG</h4>
<br />

<div class="row">
    <!--Phần thông tin-->
    <div class="col-sm-9">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputHoTen4" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="inputHoTen4">
            </div>
            <div class="col-md-4">
                <label for="inputPhone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="inputPhone">
            </div>
            <div class="col-md-4">
                <label for="inputMatKhau" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="inputMatKhau">
            </div>
            <div class="col-md-4">
                <label for="inputMatKhau2" class="form-label">Mật khẩu xác nhận</label>
                <input type="password" class="form-control" id="inputMatKhau2">
            </div>

            <div class="col-md-6">
                <label for="inputChucVu" class="form-label">Chức vụ</label>
                <select id="inputChucVu" class="form-select">
                    <option selected>Chọn chức vụ</option>
                    <option>Admin</option>
                    <option>User</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Trạng thái</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Đang hoạt động
                    </label>
                </div>
            </div>
        </form>
    </div>

    <!--Phần hình-->
    <div class="col-sm-3">
        <div style="text-align: center;">
            <img src="~/GuestElement/img/anhduy.jpg" alt="" style="width: 150px;">

        </div>
        <br>
        <div style="text-align: center;">
            <button type="button" class="btn btn-info">Chọn file</button>
        </div>

    </div>
</div>