
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}

<div class="main  m-3 ">
    <div class="main-title mb-4">
        <h6>Quản lý người dùng</h6>
    </div>
    <div class="header row">
        <div style="float:left;">
            <input placeholder="Tìm kiếm theo tên">
            <input style="margin-left:5px;" placeholder="Tìm theo số điện thoại">
            <button style="margin-left:5px; background-color:seagreen; color:white" type="button" class="btn mr-2" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Lọc</button>
        </div>

        <div class="form-group" style="float:right">
            <button class="btn" style="background-color:seagreen; color:white;" onclick="OpenThemMoi()"><i class="fa fa-plus text-white"></i>  Thêm</button>
            <button class="btn" style="background-color:seagreen; color:white; margin-left:5px;"><i class="fa fa-sync text-white"></i>  Làm mới</button>
        </div>
        <br />

        <div class="form-group">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Điện thoại</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col" class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Trần Ngọc Lụa</th>
                        <td>duonglovelua@gmail.com</td>
                        <td>0979510278</td>
                        <td>Admin</td>
                        <td>Đang hoạt động</td>
                        <td>
                            <img src="~/GuestElement/img/anhduy.jpg" style="width:110px" />
                        </td>
                        <td class="text-nowrap text-center">
                            <a class="btn btn-info btn-sm active" title="Cập nhật" onclick="OpenEdit()"> <i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Xoá"> <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Thông tin" onclick="OpenDetail()"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <th>Trần Ngọc Lụa</th>
                        <td>duonglovelua@gmail.com</td>
                        <td>0979510278</td>
                        <td>Admin</td>
                        <td>Đang hoạt động</td>
                        <td>
                            <img src="~/GuestElement/img/anhduy.jpg" style="width:110px" />
                        </td>
                        <td class="text-nowrap text-center">
                            <a class="btn btn-info btn-sm active" title="Cập nhật"> <i class="fa fa-edit" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Xoá"> <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm active" title="Thông tin"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Model chính-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <div class="modal-title" style="font-size: 17px;text-transform:uppercase;color:#3c8dbc"><strong id="myModalTitle"></strong></div>
            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" id="btSave" class="btn btn-sm btn-success"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" id="btUpdate" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>&nbsp;Cập nhật</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btmodelclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Huỷ</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    //Hàm mở modal của thêm người dùng
    function OpenThemMoi() {
        $.ajax({
            url: "/QuanLyNguoiDung/ThemNguoiDung/",
            type: 'GET',
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
                $('#btUpdate').hide();
                $('#btSave').show();

            }
        });
    }

    //Hàm mở modal của edit người dùng
    function OpenEdit() {
        $.ajax({
            url: "/QuanLyNguoiDung/EditNguoiDung/",
            type: 'GET',
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
                $('#btSave').hide();
                $('#btUpdate').show();
            }
        });
    }

    //Hàm mở modal của chi tiết người dùng
    function OpenDetail() {
        $.ajax({
            url: "/QuanLyNguoiDung/ChiTietNguoiDung/",
            type: 'GET',
            success: function (response) {
                $("#myModalContent").html(response);
                $('#myModal').modal('show');
                $('#btSave').hide();
                $('#btUpdate').hide();
            }
        });
    }


</script>



