@using Microsoft.AspNetCore.Identity
@using TES_MEDICAL.GUI.Models

@inject SignInManager<NhanVienYte> SignInManager
@inject UserManager<NhanVienYte> UserManager
<style>
    .imgavt {
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center center;
    }
</style>
@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>*@


@*---------------------------------------------------------*@
@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar-user-avatar">
        @*<a href="page_ready_user_profile.html">*@
        <img src="~/images/@((await UserManager.GetUserAsync(User)).Hinh)" alt="avatar" class="imgavt">
    @*</a>*@
    </div>
<div class="sidebar-user-name text-nowrap w-100"> @Helper.GetName((await UserManager.GetUserAsync(User)).HoTen)</div>
 <div class="sidebar-user-links" style="margin-left:11px">
    <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Settings" onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-user"></i></a>
    <a title="Đăng xuất" href="@Url.ActionLink("Logout","Identity")"><i class="gi gi-exit"></i></a>
 </div>
}
