<h4 style="text-align:center; font-weight:bold">THÔNG TIN NHÂN VIÊN Y TẾ</h4>
<br />

<div class="row">
    <div class="col-sm-9">
        <table class="table table-borderless" id="table1">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Email</td>
                    <td>nthoang@gmail.com</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Họ và tên</td>
                    <td>Nguyễn Thanh Hoàng</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Số điện thoại</td>
                    <td>0939503204</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Chức vụ</td>
                    <td>Bác sĩ</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight:bold;">Trạng thái</td>
                    <td>Đang hoạt động</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div style="text-align: center;">
            <img src="~/GuestElement/img/anhduy.jpg" alt="" style="width: 150px;">
        </div>
    </div>
</div>