@using TES_MEDICAL.GUI.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using TES_MEDICAL.GUI.Constant

@{ string userName = Context.Session.GetString(SessionKey.Nguoidung.UserName);}
@{ string fullName = Context.Session.GetString(SessionKey.Nguoidung.FullName);}


@if (userName != null && userName != "")
{
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/AminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@fullName</a>
        </div>
    </div>
}



