

@model TES_MEDICAL.GUI.Models.DichVu

<div class="container-fluid" id="pannelDichVu">
    <h1>Thông tin</h1>
    <hr />


    <div class="row m-2">

        <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                TenDV
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.TenDV)
            </div>
        </div>


        <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                DonGia
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.DonGia)
            </div>
        </div>


    </div>



</div>






