

@model TES_MEDICAL.GUI.Models.DichVuSearchModel
@using X.PagedList;
@using TES_MEDICAL.GUI.Models;
@{
    ViewData["Title"] = "QUẢN LÝ DỊCH VỤ";
    Layout = "~/Views/Shared/LayoutAdmin/LayoutAdmin.cshtml";
}






<div class="m-3">


    <div>

        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmSearch", id = "frmSearch", enctype = "multipart/form-data", @class = "d-flex flex-wrap m-2" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-2 mr-2">
                @Html.EditorFor(model => model.TenDVSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control-sm", @placeholder = "Lọc theo tên dịch vụ" } })
            </div>

            <div class="col-2 mr-2">
                @Html.EditorFor(model => model.DonGiaSearch, new { htmlAttributes = new { @class = "mr-2 mb-2 form-control-sm", @placeholder = "Lọc theo đơn giá" } })
            </div>







            <div class="col-4">

                <button type="button" class="btn btn-success btn-sm mr-2 " onclick="Timkiem()" id="btSeach"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Lọc</button>

                <button type="button" class="btn btn-sm btn-success mr-2" onclick="Create()" id="btCreateN"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Tạo mới</button>
                <button type="button" class="btn btn-success mr-2 btn-sm" onclick="Clear()" id="btSeach"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Làm mới</button>
            </div>



        }

    </div>





</div>
<div id="nameListContainer">
    <partial name="_NameListPartial" model="ViewBag.Names as IPagedList<DichVu>" />

</div>




<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">


            </div>
            <div class="modal-body">

                <div id="myModalContent">

                </div>
            </div>


            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" id="btSave" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" id="btupdate" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Cập nhật</button>
                    <button type="button" id="btPrint" class="btn btn-success btn-sm" onclick="PrintPreview('pannelDichVu')"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btclose" data-bs-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script>

        var $id = "";
        var $modal = $('#myModal');
        var $myModalContent = $("#myModalContent");
        var $modalins = $('#myModalins');
        var $myModalContentins = $("#myModalContentins");
        var $myModalTitle = $("#myModalTitle");
        var $myModalTitleins = $("#myModalTitleins");
        $(document).ready(

            function () {

                $("#btSave").click(function () {

                    if ($("#frm").valid()) {
                        var obj = $("#frm").serialize();

                        $.ajax({
                            type: "POST",
                            url: "/DichVu/Add",
                            data: obj,
                            success: function (result) {
                                $('#preloader-wrapper').toggleClass('hide');
                                if (result.status != null) {
                                    if (result.status >= 1) {

                                        toastr.success(result.text);
                                        reloadpage(1);
                                    }
                                    else {
                                        toastr.warning(result.text);
                                    }
                                }
                                else {
                                    $myModalContent.html(result);
                                }
                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            },
                            failure: function (message) {
                                $('#preloader-wrapper').toggleClass('hide');
                            }
                        });
                    }

                });
                $("#btupdate").click(function () {
                    if ($("#frm").valid()) {
                        var obj = $("#frm").serialize();

                        $.ajax({
                            type: "POST",
                            url: "/DichVu/Edit",
                            data: obj,
                            success: function (result) {
                                $('#preloader-wrapper').toggleClass('hide');
                                if (result.status != null) {
                                    if (result.status >= 1) {

                                        toastr.success(result.text);
                                        reloadpage(1);
                                    }
                                    else {
                                        toastr.warning(result.text);
                                    }
                                }
                                else {
                                    $myModalContent.html(result);
                                }
                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            },
                            failure: function (message) {
                                $('#preloader-wrapper').toggleClass('hide');
                            }
                        });
                    }
                   
                });
                $("#btclose").click(function () {

                    reloadpage(1);
                });
                $("#btcloseins").click(function () {

                    reloadpage(1);
                });



            });

       

        function reloadpage(page) {
            obj = {};

            obj.Page = page;
            $.ajax({
                url: '/DichVu/PageList/',

                type: "Get",
                timeout: 20000,

                async: false,

                data: obj,

                success: function (result) {


                    $('#nameListContainer').html(result);
                },

                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }


        function PrintPreview(id) {
            $.print("#" + id);
        }

        function Edit(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/DichVu/Edit/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').hide();
                    $('#btupdate').show();
                    $('#btPrint').hide();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }


        function Create() {

            $myModalContent.html("");

            $.ajax({
                url: '/DichVu/Add/',

                type: "Get",
                timeout: 20000,

                async: true,


                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').show();
                    $('#btupdate').hide();
                    $('#btPrint').hide();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });

        }

        function _Detail(id_) {
            $myModalContent.html("");

            $.ajax({
                url: '/DichVu/Detail/',

                type: "Get",
                timeout: 20000,

                async: true,
                data: {
                    id: id_
                },

                success: function (result) {
                    $myModalContent.html(result);
                    $('#btSave').hide();
                    $('#btupdate').hide();
                    $('#btPrint').show();
                    $modal.modal('show');


                    $('#preloader-wrapper').toggleClass('hide');
                },
                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }



        function _delete(id) {
            var cf = confirm('Bạn muốn xoá bản ghi này?');
            if (cf) {
                $.ajax({
                    type: "POST",
                    url: "/DichVu/Delete",
                    data: { "id": id },
                    success: function (result) {
                        $('#preloader-wrapper').toggleClass('hide');
                        if (result.status >= 1) {
                            toastr.success(result.text);

                            reloadpage();
                        }
                        else {
                            toastr.warning(result.text);
                        }
                    },
                    error: function (errormessage) {
                        toastr.warning(errormessage.responseText);
                    },
                    failure: function (message) {
                        $('#preloader-wrapper').toggleClass('hide');
                    }
                });
            }

        }

        function Timkiem() {


            $.ajax({
                url: '/DichVu/PageList/',

                type: "Get",
                timeout: 20000,
                async: false,
                data: $("#frmSearch").serialize(),


                success: function (result) {


                    if (result.status == -2) {
                        toastr.success(result.text);

                    }
                    else {

                        $('#nameListContainer').html(result);
                    }


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },


                failure: function (message) {
                    $('#preloader-wrapper').toggleClass('hide');
                }
            });
        }

        function Clear() {


            reloadpage(1);
        }


    </script>
}




