@if (Phanloais.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Phanloais)
        {
<tr>

    <td class="align-middle">
        @item.TenLoai
    </td>

    <td class="align-middle">
        <button type="button" class="btn btn-info">Update</button>
    </td>
    <td class="align-middle">
        <button type="button" class="btn btn-danger">Delete</button>
    </td>
</tr>
}
    </tbody>
</table> }
else
{
<div class="spinner-border spinner-border-sm"></div><span>Đang lấy dữ liệu</span>}
